.signPage {
  height: 100vh;
  background-color: #FFFFFF;
  .ghInput {
    textarea,
    input {
      width: 100%;
      height: 50px;
      border: 1px solid $color-light-gray;
      padding: 0 15px;
      font-size: 16px;
      color: #333333;
      border-radius: 5px;
      background-color: transparent !important;

      &:focus {
        outline: none;
        border-color: #2FE6FF;
      }
    }

    textarea {
      height: auto;
      min-height: 101px;
      max-width: 100%;
      min-width: 100%;
      padding: 5px;
    }
  }

  .ghFormFieldPassword {
    .icon + input {
      padding-right: 30px;
      padding-left: 8px;
    }
    .error{
      top: 53px !important;
    }

    .icon {
      left: 93%;
      right: 3px;
      bottom: 5px;
      top: 10px;
      cursor: pointer;

      svg {
        width: 30px;
        height: 29px;
        padding: 7px;
        position: relative;
        left: -10px;

        path {
          fill: white;
        }
      }
    }

  }

  .ghFormField {
    width: 250px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    position: relative;

    label,
    .label {
      font-size: 16px;
      margin-bottom: 1px;
    }

    .ghSelectContent {
      width: 100%;

      .gh__control {
        border: 1px solid $color-light-gray;
        border-radius: 8px;

        .gh__indicator-separator {
          display: none;
        }

        .gh__clear-indicator,
        .gh__dropdown-indicator {
          padding-right: 15px;

          svg {
            background: $color-light-gray;
            border-radius: 4px;

            path {
              fill: $color-gray;
            }
          }
        }

        &.gh__control--is-focused {
          border: 1px solid $color-light-gray;
          box-shadow: none;
        }

        &.gh__control--menu-is-open {
          border-radius: 8px 8px 0 0;
          border-bottom: transparent;

          .gh__dropdown-indicator {
            svg {
              transform: rotate(180deg);
            }
          }
        }

        .gh__clear-indicator {
          padding-right: 1px;

          svg {
            height: 13px;
            width: 13px;
          }
        }
      }

      .gh__single-value {
        font-size: 15px;
      }

      .gh__indicator {
        cursor: pointer;
      }
    }

    &.ghIsMulti {
      .gh__clear-indicator {
        display: none;
      }

      .gh__dropdown-indicator {
        display: none;
      }

      .gh__value-container {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }

    .icon {
      position: absolute;
      bottom: 6px;
    }

    .limit {
      font-size: 14px;
      padding: 0 8px;
      margin-bottom: -8px;
      text-align: right;
      color: $color-gray;
    }

    .error {
      position: absolute;
      color: #fe5c4f;
      font-size: 12px;
      padding: 0 8px;
      top: 50px;
      width: 300px;
    }
  }

  .rigt-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 10%;
  }

  .editrect > a {
    position: relative;
    left: 93%;
    top: 30px;
    text-decoration: none;
    padding: 4px 8px 4px 8px;
  }

  .editrect > a:hover {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 9px rgb(2 47 119 / 20%);
    color: black;
  }

// signin_page page start 

  .signin_page {
    display: grid;
    align-items: center;
    height: 100%;
    padding: 175px;

    .submit {
      margin-top: 62px;
       }
    .singIn_img{
      display: grid;
      justify-self: center;
      img{
        max-height: 490px;
      } 
       }
    .singIn_form{
    position: relative;
    top: -50px;
      .SigninAuthForm {
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        max-width: 500px;
        min-width: 320px;
        width: 100%;
        border-radius: 10px;

        .forgotPassword{
          width: 100%;
          position: relative;
          color: #a1a1a1;
          z-index: 100;
          font-style: italic;
          top: -7px;
          padding-left: 15px;
        }
    
        .ghFormField {
          width: 100%;
        }
    
        .hr {
          margin-bottom: 32px;
        }
    
        .row {
          display: flex;
          align-items: center;
        }
    
        .errorRecovery {
          color: $color-error;
          font-size: 12px;
          position: relative;
          top: 25px;
        }
        }
       }
       .switchSignInMode {
        span{
          color: #585858;
          font-weight: 400;
          font-size: 16px;
        }
        a{
         color: #2FE6FF;
         font-size: 16px;
        }
      }

  }

 // forgot_password page start 
  .forgot_password {
      display: grid;
      grid-template-rows: auto auto;
      height: 100%;
      align-items: center;
      justify-content: center;

      .forgot_img{
        display: grid;
        justify-self: center;
      }

      .forgot_form{
        display: grid;
        justify-self: center;
        position: relative;
        bottom: 90px;
        .SigninAuthForm{
          width: 500px;
          position: relative;
          top: -80px;
          .ghFormField{
            width: 100%;
            height: 46px;
            .error{
              top: 47px;
              padding: 0 14px;
            }
          }
          .row{
            width: 100%;
            justify-content: center;
            margin: 0;
            .ghButton.alt{
              top: 50px;
            }
          }
        }
       }
  }

  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .paragraph,
  p {
    position: relative;
    top: 52px;
    color: #505050;

    font-size: 25px;

    &.big {
      font-size: 16px;
    }
  }

  .SigninAuthForm > h1 {
    max-width: 1920px;
    color: #424242;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .socialLogin {
  
    .emaiL_input{
      input{
        border-radius: none !important;
      }
    }
  
   h4 {
    position: relative;
    top: 45px;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    width: 150px;
    color: #585858;
    }
 }
  .SigninAuthForm {
    color: #a1a1a1;
    font-size: 14px;
  }

  svg {
    path {
      fill: linear-gradient(180deg, #fe794f -8.92%, #7166f8 92.87%);
    }
  }


  //   Button
  .ghButton {
    border: none;
    color: $color-dark;
    background-color: blue;
    padding: 7px 14px 6px;
    border-radius: 4px;
    font-size: 14px;

    &:focus {
      outline: none;
    }

    &.alt {
      width: 114px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 16.1px;
      font-size: 14px;
      font-weight: 700;
      border-radius: 5px;
      position: relative;
      z-index: 100;
      background: #2FE6FF;
    }

    &.alt:active:after {
      content: "";
      background: #0578ff1a;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 9px;
    }

    &:disabled {
      opacity: 0.6;
      box-shadow: none !important;
      cursor: default;
    }

    &.main {
      &:hover {
        box-shadow: 0 3px 6px rgba($color-main, 0.4);
      }
    }

    &.blue {
      color: white;
      font-size: 16px;
    }

    &.orange {
      font-size: 16px;

      color: white;
      background:  #2FE6FF;
    }

    &.accent {
      background-color: $color-accent;

      &:hover {
        box-shadow: 0 3px 6px rgba($color-accent, 0.4);
      }
    }

    &.light {
      background-color: $color-light-blue;
      color: $color-dark;

      &:hover {
        box-shadow: 0 3px 6px rgba($color-light-blue, 0.4);
      }
    }

    &.transparent {
      background-color: transparent !important;
      box-shadow: none !important;
      color: $color-main;
    }

    .icon {
      width: 14px;

      margin-right: 8px;
      vertical-align: middle;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .icon {
        margin-right: 0;
      }

      &.loading {
        position: absolute;
        right: 10px;
        margin-right: 0;
      }

      img {
        height: 14px;
        width: auto;
      }
    }

    &.onlyIcon {
      .icon {
        margin-right: 0;
      }
    }
  }

  .ghButton:hover {
    background-color: #ffffff;
    color: #2FE6FF;
    border-color: #2FE6FF;
    box-shadow: none;
    border: 1px solid #2FE6FF;
  }

  .ghButton.orange:hover {
    background-color: #ffffff;
    color: #2FE6FF;
    border-color: #2FE6FF;
    box-shadow: none;
    border-color: #2FE6FF;
  }
  
  .logoReset {
    max-width: 150px !important;
    top: 40px !important;
    position: relative !important;
  }
  .authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    min-width: 450px;
    margin-left: 36%;
    top: 30%;

    a {
      color: $color-main;
    }

    .ghFormField {
      width: 100%;
    }

    h1 {
      font-size: 40px;
      position: relative;
      font-size: 33px;
      font-style: normal;
      font-weight: 400;
      color: #505050;
    }

    .hr {
      margin-bottom: 32px;
    }

    .row {
      display: flex;
      align-items: center;

      .forgotPasswordBack {
        margin: 32px 38px 0 0;
      }
    }
    .ghButton.blue{
      top: 40px;
    }

  }


  .error {
    color: red;
    font-size: 14px;
    padding: 0 8px;
  }

  .border-error {
    border-color: red !important;
  }
  .socialReset{
    width: 100%;
    display: flex;
    justify-content: center;
    h4{
      font-size: 30px;
      color: #424242;
      font-weight: 700;
    }
  }
  .forgotLogo{
    display: flex;
    justify-content: center;
    position: relative;
    top: 120px;
  }
}


///////////Sign Up


.SignUpLeft {
  width: 64.54%;
  height: 100vh;
  max-width: 1081px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.SignUpRight {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;

  .submit {
    margin-top: 100px;
  }
}

.SignUpAuthform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  h4 {
    font-size: 29px;
    font-weight: 700;
    color: #585858;
  }

  .ghFormField {
    width: 100%;
  }

  .hr {
    margin-bottom: 32px;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .submit {
    position: relative;
    top: -78px !important;
  }

  .socialButtons {
    position: relative;
    top: -20px !important;
  }
 .signUpFullName{ display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
 }
}
