$color-main: #7166F8;
$color-main2: #FE794F;
$color-accent: #0062FF;

$color-error: #FE5C4F;
$color-warning: #FED300;

$color-light-blue: #C6E6FF;
$color-gray: #9BA6B4;
$color-gray1: #707070;
$color-light-gray: #bec0c2;
$color-light-gray2: #EDF1F5;
$color-light-gray3: #C4C4C4;

$color-dark: #0D0905;
$color-dark-blue: #717EA0;
$color-green: #48897a;
$color-white: #ffffff;
$color-button: #0062FF;
$color-darkgreen: #f2f3f5;
$color-linkText: #9e0b0b;
$color-linkFill: #2dc126;
$color-nodeFill: #6700ff;
$color-tab-bg: #F5F5FA;
$color-tab-keywords: #E1E1E1;
$color-marked: #717EA0;
$color-very-light-green: #BEBEBE;

$color-hover-sheet: #e6e5f1;

$color-graph-name: #424242;

$color-border: #757575;

$color-user-text: #AAAAAA;

$color-avatar-border: #F07760;

$color-passive: #988f8f;
$coor-scroll-galery:#D9D6FF;

$color-compare-placeholder: #CFCFCF;

$color-compare-border: #7A7A7A;
$color-date: #424242;

$color-bg-query: #F7F6FC;
$color-query-border: #EBEBEB;
$color-query-description: #6B6B6B;
$color-query-icons: #A6A6A6;

$color-green-online: #59A635;
$color-notification-text: #F07760;
$color-arrow-border: #00000033;

$color-tab-mode-hover: #EEEEFE;

$color-arrow-shadow: #0000003F;

$color-tab-name-hover: #6155FE;

$color-tab-no-data: #A3A3A3;

$color-comment-bg: #f7f7fb;

$color-comment-text: #939393;

$color-main-shadow: rgb(57 57 57 / 10%);

$color-tab-general-border: #D5D5D5;

$color-tab-general-border: #E9E9E9;
