@import 'colors';

.tab-wrapper {
  position: fixed;
  width: 350px;
  height: calc(100% - 67px);
  background: $color-white;
  right: 0;
  top: 67px;
  z-index: 3;

  .tab {
    display: block;

    &-header {
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        border: none;
        outline: none;
        width: 100%;
        height: 40px;
        font-size: 14px;

        &:hover {
          background: #EEEEFE;
        }
      }

      &-active {
        background-color: white;
        color: #2FE6FF;

        &:after {
          content: "";
          display: block;
          top: 90px;
          height: 3px;
          background-color: #2FE6FF;
          position: absolute;
          width: 33.4%;
        }
      }

      &-in-active {
        background-color: $color-tab-bg;
        color: #727272;
      }
    }

    &-container {
      width: 100%;
      height: calc(100% - 40px);

      .general {
        padding: 15px 10px 0;

        &-hider {
          display: flex;
          gap: 10px;
          max-height: 260px;
          height: 60px;

          &-icons {

            button {
              width: 35px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              background-color: white;

              &:hover {
                path {
                  fill: $color-main;
                }
              }
            }

            .tabHistory, .edit {
              &:hover {
                path {
                  stroke: $color-main;
                  fill: white;
                }
              }
            }
          }

          &-picture {
            img {
              height: 40px;
              width: 40px;
              object-fit: cover;
            }
          }

          &-caption {
            width: 100%;

            &-nodeInfo {
              display: flex;
              flex-wrap: wrap;
              align-content: space-between;

              span {
                width: 100%;
              }

              .name {
                color: $color-graph-name;
                font-weight: bold;
                font-size: 16px;
                line-height: 1.1;
                width: 205px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .type {
                font-weight: bold;
                font-size: 12px;
                color: $color-passive;
              }

              .nodeLink {
                a {
                  font-size: 14px;
                  cursor: pointer;
                  color: $color-graph-name;

                  svg {
                    margin-right: 10px;
                  }

                  &:hover {
                    color: rgba(46, 46, 199, 0.75);
                    text-decoration: underline;
                  }
                }
              }
            }
          }

          &-title, &-caption, &-icons {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
          }
        }

        &-footer {

          .items {
            color: $color-passive;
            display: flex;
            flex-direction: column;

            a:hover {
              color: $color-main;
            }
          }

          &-item {
            z-index: 1;
            background-color: white;
            height: 100%;
            font-size: 14px;
            display: flex;
            margin: 0 20px 0 10px;

            .item-text {
              min-width: 50px;
            }

            &-keywords {
              margin-top: 5px;
              max-height: 95px;
              overflow: auto;

              .more-keywords {
                background-color: inherit;
              }

              span {
                display: inline-block;
                padding: 0 20px;
                height: 20px;
                font-size: 11px;
                line-height: 20px;
                border-radius: 30px;
                background: #1CC5DC;
                color: white;
                margin-right: 10px;
                margin-bottom: 10px;
              }

              &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
                background: #B9B4EF;
                z-index: 0;
              }

              &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: #5454E2;
                z-index: 0;
              }
            }

            .connectionDetails {
              .connection-container {
                overflow-x: hidden;
                overflow-y: auto;
                margin-top: 10px;
                padding-left: 10px;

                .item {
                  a {
                    display: flex;
                    color: $color-dark;
                    text-decoration: none;
                  }

                  .left {
                    margin-right: 20px;
                    width: auto;
                    max-width: 88%;

                    .node-type {
                      background: #1CC5DC;
                      color: white;
                      padding: 0 20px;
                      height: 20px;
                      font-size: 12px;
                      line-height: 20px;
                      border-radius: 30px;
                    }
                  }

                  .right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    line-height: 1;
                    text-decoration: underline;
                    width: 100%;

                    .name {
                      font-weight: 700;
                      font-size: 12px;
                      text-decoration-line: underline;
                      color: #585858;
                  
                    }

                    .type {
                      font-size: 14px;
                      line-height: 2;
                    }
                  }
                }

                .leftLine {
                  padding: 10px 0 10px 15px;
                  width: 100%;

                  &:after {
                    top: 15px;
                  }
                }

                .node-text {
                  color: $color-main2;
                }

                .linkTypes {
                  color: $color-passive;
                  font-weight: 600;
                  font-size: 16px;
                }
              }
            }

            .title, .node-name {
              font-size: 14px;
              color: $color-passive;
              width: 100%;
            }
          }

          &-location {
            flex-wrap: wrap;

            .location-text {
              width: 100%;
            }

            .location-map {
              width: 290px;
              position: relative;
              height: 150px;
              margin-top: 10px;
            }
          }

          summary {
            .node-name {
              color: #1CC5DC;
            }

            &::after {
              content: url("../images/icons/tab-arrow.svg");
            }
          }

          details[open] summary:after {
            content: url("../images/icons/tab-arrow-down.svg");
          }
        }
      }

      .tab_content {

        &-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 10px;
          height: 58px;

          &-text {
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            color: #585858;
            margin: 0;
          }

          &-icons {
            display: flex;
            justify-content: end;
            height: 40px;
            width: 80px;

            button {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: white;
              padding: 0;
              height: 100%;
              border: none;
              margin: 0 6px;

              &:hover {
                path {
                  fill: $color-main;
                }
              }
            }

            .tab-delete, .tab-edit {
              &:hover {
                path {
                  stroke: $color-main;
                  fill: white;
                }
              }
            }

            .add svg {
              width: 14px;
            }
          }
        }

        &-description {
          display: flex;
          padding: 10px 0 0 20px;
          justify-content: flex-start;
          overflow-y: auto;
          overflow-x: hidden;

          &-nodata {
            font-size: 14px;
            color: $color-tab-no-data;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100% !important;
          }

          * {
            min-width: 310px;
            margin: 0 !important;
            padding: 0 !important;
            color: #3A3A3A;
            font-size: 12px;
          }
        }
      }

      .comment {

        &-content {
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-left: 12.5px;

          .commentWrite {
            width: 330px;
            position: absolute;
            bottom: 25px;
          }

          .btn-delete, .btn-classic {
            min-width: 100px;
            max-width: 100px;
            height: 30px;
            font-size: 13px;
            display: flex;
            border-radius: 3px;
            justify-content: center;
            align-items: center;
          }

          .comment-modal__add-comment-buttons {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-top: 5px;
          }

          &-wrapper {
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 2px 0;
            padding-right: 5px;

            &-item {
              background: #fbfbff;
              border-radius: 3px;

              .owner .settings button {
                padding: 0 10px;
              }

              .comment-text {
                width: 100%;
                margin-left: 50px;

                p {
                  color: #939393;
                  font-weight: bold;
                  font-size: 12px;
                }

                .more-btn, .less-btn {
                  border: none;
                  color: $color-main;
                  background-color: $color-comment-bg;
                }
              }

              .owner {
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                align-items: flex-start;
                padding: 10px 15px;
              }
            }

            .--reply {
              padding: 0 15px 0 50px;
              margin-top: -5px;
            }
          }

          .notComment {
            font-size: 14px;
            color: $color-tab-no-data;
            display: flex;
            align-items: center;
            align-self: center;
            position: absolute;
            height: calc(100% - 350px);
            top: 90px;
          }
        }
      }
    }
  }

  .switch_tab {
    position: fixed;
    top: 110px;
    background-color: $color-white;
    border-radius: 5px 0 0 5px;
    width: 25px;
    height: 25px;
    box-shadow: -3px 3px 4px $color-arrow-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .tab_list {
    position: fixed;
    right: 350px;
    width: 180px;
    background-color: white;
    height: calc(100%);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 67px;
    z-index: 5;
    border: 1px solid #EFEFEF;

    &-header {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &-text {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
        color: #424242;
      }

      &-add {
         cursor: pointer;
         color: #424242;
         color: white;
         width: 175px;
         display: flex;
         justify-content: center;
         position: relative;
         top: 11px;
         height: 43px;
         background: #1CC5DC;
         align-items: center;
      }
    }

    &-content {
      display: flex;
      align-self: flex-start;
      flex-direction: column;
      padding: 0 20px 1px;
      width: 100%;
      gap: 15px;
      overflow-x: hidden;
      overflow-y: auto;
      margin-top: 10px;

      :not(.tab_list-content-active) {
        &:hover {
          background: #EFEFEF;
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }

      &-item {
        display: flex;
        min-height: 40px;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 15px;
        width: 114.5%;
        cursor: pointer;
        border-radius: 3px 0 0 3px;
        user-select: none;
        color: #424242;
      }

      &-active {
        background-color: $color-white;
        color: #424242
      }

      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background: #1CC5DC;
        z-index: 0;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #B9B4EF;
        z-index: 0;
      }
    }

    .description {
      border: 1px solid #424242;
      height: 50px;
      justify-content: center;
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 100%;
      color: #424242;

      &:hover {
        background: #1CC5DC;
      }
    }

    .description_active {
      background-color: $color-white;
      color: #424242;
      border: 1px solid #EFEFEF;

      &:hover {
        background-color: white;
      }
    }
  }

  .comment-content-wrapper, .general-hider-keywords,
  .tab_content-description,
  .general-footer, .connection-container .list {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background: rgba(119, 113, 183, 0.22);
      z-index: 0;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      z-index: 0;
    }
  }

  .node-info {
    right: 0;
    z-index: 9999999;
    width: 100%;
    height: 52px;
    border: 1px solid $color-query-border;
    border-left: none;
    border-right: none;

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 10px;
      height: 40px;
      .tab-close {
        height: 100%;
        justify-content: end;
        display: flex;
        width: 80px;

        .clear {
          cursor: pointer;
        }

        button {
          border: none;
          background-color: white;
          margin: 0 6px;

          &:hover {
            path {
              fill: $color-main;
            }
          }
        }

        svg {
          height: 14px;
        }
      }
    }
  }
}

.ghModalOverlay .nodeTabsFormModal {
  width: 65%;
  max-width: unset !important;
  padding: 1.6% 2.1% !important;
  min-width: 920px;
  max-height: 90%;
  top: 10% !important;

  .row {
    display: flex;
    width: 100%;
    margin: 0 0 10px;

    .ghFormField {
      margin: 10px 0;
    }

    > * {
      margin-right: 5%;
      width: 47.5%;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .buttonsWrapper {
    display: flex;
    justify-content: center;
    margin-top: 35px;

    button {
      margin-right: 40px !important;
    }
  }

  h3 {
    font-size: 26px;
    margin: 0 auto 20px;
  }

  .description, h3 {
    color: #727272;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
  }


  .contentEditor {
    width: 101%;

    .label {
      font-size: 12px;
      font-weight: 600;
    }
  }

  .ghFormField {
    label {
      font-size: 12px;
      font-weight: 600;
    }
  }

  .close {
    padding: 0;
    position: absolute;
    top: 15px;
    right: 16px;

    svg {
      width: 11px;
      height: 10px;

      path {
        fill: $color-gray;
      }
    }
  }
}

.sortableListItem {
  background-color: $color-bg-query !important;
  color: $color-passive !important;
  opacity: 0.9;
  border: 1px solid $color-light-gray;
  box-shadow: 0 5px 12px #0D090526;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 3px 0 0 3px;
  align-items: center;
  display: flex;
  z-index: 6;
}

.node_expand {

  .tab_content-description {
    * {
      width: calc(100% - 10px);
    }

    iframe {
      max-width: 600px;
    }

    img {
      max-width: 600px;
    }
  }

  .tab-header {
    visibility: hidden;
  }

  .tab_list {
    left: 0;
  }
}

.tabs_expand {
  width: 100% !important;

  .tab-header {
    width: 50%;

    .tab {
      position: fixed;
      left: calc(50%);
      width: 25%;
      top: 108px;
      height: 40px;
    }

    .comment {
      position: fixed;
      left: 75%;
      width: calc(25%);
      height: 40px;
      top: 108px;
    }

    &-active:after {
      width: 100%;
      top: -29px !important;
      position: relative;
    }

    .general {
      &:after {
        content: none;
      }

      &:hover {
        background-color: white;
      }
    }
  }

  .tab_list {
    left: 50%;
    top: 150px;
    border-right: 1px solid $color-query-border;
    background-color: white;
    color: #424242;

    &-content {
      &::-webkit-scrollbar {
        background: #B9B4EF;
      }

      &::-webkit-scrollbar-thumb {
        background: #5454E2;
      }
    }

    .tab_list-content {
      margin-bottom: 100px;
    }

    .tab_list-content-item {
      &:hover {
        background-color: #F6F5FF;
      }
    }

    .tab_list-content-active {
      color: #ffffff;
      background-color: #7166F8;

      &:hover {
        color: #424242;
      }
    }

    .description {
      border: 1px solid $color-tab-general-border;
      border-left: none;
      border-right: none;
      &:hover {
        background-color: #F6F5FF;
      }
    }

    .tab_list-header {
      height: 50px;
      margin: 10px 0;
    }
  }

  .tab-container {
    display: flex;
    justify-content: space-between;

    .general {
      width: 50%;
      padding: 0;

      .general-hider {
        align-items: center;
        height: 113px;
        margin-left: 0;

        &-picture img {
          height: 65px;
          width: 65px;
        }

        &-caption {

          &-nodeInfo {

            > div {
              height: 65px;
            }

            .name {
              font-size: 22px;
            }

            .type {
              font-size: 18px;
            }
          }
        }
      }

      .general-footer {
        padding-left: 5px;
        border-right: 1px solid $color-tab-general-border;
      }
    }

    .tab_content {
      width: calc(50% - 180px);

      &-description * {
        width: 100%;
      }
    }

    .comment {
      width: 50%;

      .commentWrite {
        left: calc(50% + 80px);
        width: calc(50% - 160px);
      }

      .comment-content {
        margin-left: 0;
      }
    }

    .tab_content-header {
      margin-top: 50px;
    }

    .comment-content-wrapper {
      margin: 65px 80px;
      align-self: center;
    }
  }

  .general-hider {
    border: 1px solid $color-tab-general-border;
    border-left: 0;
    margin-left: 10px;
    padding: 10px;
  }

  .tab-header {
    .general {
      display: none;
    }
  }

  // .node-info-container {
  //   margin-left: 25px;
  // }

  .general-hider-icons {
    align-items: center !important;
  }

  .node-info {
    border: none;
    border-top: 1px solid $color-tab-general-border;
  }

  .location-map {
    height: 250px !important;
    width: auto !important;
  }
}

.leftLine {
  border-left: 1px solid $color-tab-general-border;
  position: relative;
  padding-left: 15px;
  padding-bottom: 15px;

  &:after {
    content: '';
    position: absolute;
    top: 6px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $color-tab-general-border;
    background: inherit;
  }
}
